<div class="form">
    <form id="login">
        <div class="form-group">
            <label>用户名：</label>
            <input type="text" name="username" value="">
        </div>

        <div class="form-group">
            <label>密码：</label>
            <input type="password" name="userpwd" value="">
        </div>

        <div class="form-group">
            <input type="button" id="button" value="提交">
        </div>
    </form>
</div>


<script>
    $("#button").click(function (e) {
        var data = {
            username: $("#login").find("input[name='username']").val(),
            userpwd: $("#login").find("input[name='userpwd']").val(),
        }
        if (!data.username || !data.userpwd) {
            alert("参数错误")
            return false;
        }

        var request = $.ajax({
            url: "/doSignIn",
            method: "POST",
            data: data,
            dataType: "JSON"
        });

        request.done(function (res) {
            console.log(res)
            if (res.code == 1) {
                var date = new Date();
                var expiresDays = 10;
                date.setTime(date.getTime() + expiresDays * 86400 * 1000);
                document.cookie = "token=" + res.token + ";expires=" + date.toGMTString()+";path=/";
                location.href = "/";
            } else {
                alert(res.info);
            }
        });


        return false;
    })
</script>